html, body{
    margin: 0px;
    background-color: aqua;
    color: black;
}


.titulo {
    text-align: center;
    background-color: black;
    color:aqua;
    padding: 20px;
    font-size: 25px;
}

.carta {
    width: 150px;
    position: relative;
}

#computadora-cartas, #jugador-cartas {
    height: 250px;
}